body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: rgba(12, 90, 43, 255);
  color: white;
}
h1 {
  font-size: 50px;
}
.submitBtn {
  width: 50px;
  height: 30px;
}

.player {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.dealers {
  margin-right: 19px;
}

.container-card {
  display: flex;
}

.card {
  width: 75px;
  height: 100px;
  background: white;
  color: black;
  border: black solid 2px;
}

.suit {
  font-size: 30px;
}

.value {
  font-size: 20px;
}
